:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrapper {
	border: solid;
	padding: 10px;
	border-radius: 50px;
	border-color: black;
}

.nameFlex {
	display: flex;
	flex-direction: row;
}

.nameFlex div {
	margin-left: 40px;
	margin-top: 30px;
}

.nameFlex .city {
	padding-left: 170px;
}

.inputFlex {
	display: flex;
	flex-direction: row;
}

.inputFlex div {
	margin-left: 40px;
}

.nameInput {
	border: solid;
	border-radius: 20px;
	border-color: black;
	width: 230px;
	height: 60px;
	padding-left: 15px;
	font-size: 25px;
}

.cityInput {
	border: solid;
	border-radius: 20px;
	border-color: black;
	width: 230px;
	height: 60px;
	padding: 0 10px;
	font-size: 25px;
}

::placeholder {
	position: relative;
	font-size: x-large;
	padding: 10px;
}

.highlight {
	display: flex;
	align-items: center;
	gap: 15px;
}

.checkbox {
	width: 35px;
	height: 35px;
}

.table {
	width: 100%;
	padding: 2rem 0;
}

table {
	width: 100%;
}

th, td {
	padding: 15px;
}
